.login-margin {
  margin-top:80px;
}
.footer-posisi {
  position: fixed;
  padding:7px;
  bottom: 0;
  width: 165px;
}
.navposisi{
  z-index: 1;
  margin-left:150px;
}
.sidenav {
  height:100%;
  width:165px;
  position: fixed;
  z-index: 2;
  top:0;
  left:0;
  overflow-x: hidden;
  padding-top: 10px;
  background-color: #212121;
}
.sidenav a, .dropdown-btn{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  outline: none;
  border: none;
  background: none;
  color: #818181;
  text-align: left;
  width: 165px;
  cursor: pointer;
}
.sidenav a:hover, .dropdown-btn:hover{
  color:#f1f1f1;
}
.dropdown-container {
  display: none;
  background-color: #2E2E2E;
  padding-left: 8px;
}
.active {
  background-color: #4B515D;
  color: white;
}
.main{
  margin-top:35px;
  margin-left: 165px;
  padding: 30px 10px;
}

@media screen and (max-height:450px){
  .sidenav {padding-top:15px;}
}
